wordpress:
  ingress:
    annotations:
      kubernetes.io/ingress.class: nginx
  persistence:
    enabled: true
    size: 5Gi
    storageClass: "standard"
mariadb:
  primary:
    persistence:
      enabled: true
      size: 5Gi
      storageClass: "standard"
